services:
  c3i-backup-one:
    image: ghcr.io/nicotsx/c3i-backup-one:latest
    container_name: c3i-backup-one
    restart: unless-stopped
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse
    ports:
      - "4096:4096"
    environment:
      - TZ=${TZ:-UTC}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/lib/c3i-backup-one:/var/lib/c3i-backup-one
